<!DOCTYPE html>
<html>

<head>
    <!-- head.ejs -->
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>

    <div class="content">
            <% for (var b in results) { %> 
        <div class="article">
            <img src="<% if(results[b].image === undefined) { %>
                ../assets/images/tennis-pic.png
            <% } else { %>
                <%= results[a].image %>
            <% } %>" alt="Tennis Image">
            <a href="<%= results[b].link %>" target="_blank">
                <h3 class="article-title"> 
                    <%= results[b].title %>
                </h3>
            </a>
            <p class="article-summary"> 
                <%= results[b].summary %>
            </p>
            <p class="article-author"> 
                <%= results[b].author %>
            </p>
            <h4>Notes</h4>
            <% for (var c in results[b].comments) { %> 
            <div class="notes-delete">
                <p class="article-notes">
                    <%= results[b].comments[c] %> 
                </p>
                <form class="aa" method="POST" action="deleteNotes">
                <input type="text" name="favTitle" value="<%= results[b].title %>" hidden> 
                <input name="deleteNote" type="text" value="<%= results[b].comments[c] %>" hidden>
                <button type="submit">X</button>
                </form>
            </div>
            
            <% } %>
            <form method="POST" action="/addNotes">
                <input type="text" name="favTitle" value="<%= results[b].title %>" hidden> 
                <input type="text" placeholder="New Note" name="addNote">
                <button type="submit">Add Note</button>
            </form>
            <form method="POST" action="/delete">
                <input type="text" name="favTitle" value="<%= results[b].title %>" hidden> 
                <button type="submit">Delete Article</button>
            </form>
            <div class="image"></div>
        </div>
    <% } %>

    </div>

</body>

</html>